#header {
	font-family: courier;
	font-style: underline;
	font-size: 36px;
	text-align: center;
	margin-top: 20px;
	padding: 10px 0px 10px 0px;
	border: solid;
}

#content {
	font-family: arial;
	font-size: 12px;
	height: 400px;
	border: 2px solid black;
	margin-top: 10px;
	text-align: center;
	background-color: #FFFFE6;

}

.picture {
	height: 80%;
	width: 40%;
}

#sidebar {
	font-family: arial;
	font-size: 16px;
	font-style: arial;
	background-color: #A3FFFF;
	width: 20%;
	height: 400px;
	margin-top: 10px;
	float: left;
	padding-left: 10px;
	border: 2px solid black;
}

.caption {
	position: relative;
	bottom: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: blue;
}

#footer {
	font-family: verdana;
	font-size: 12px;
	margin-top: 20px;
	height: 100px;
	border: 1px solid green;
	padding-left: 20px;
}

.section {
	font-weight: bold;
	color: red;
}

a:link {
	color: #FF0000;
	font-style: bold;
	text-decoration: underline;
}
a:hover {
	color: green;
	text-decoration: none;
}

li:first-child {
	text-decoration: underline;
	color: green;
}
li:last-child {
	font-weight: bold;
	color: yellow;
}

