/* Header */

#header {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 0px 0 0px 0;
	height: 450px;
	border: 5px black solid;
}

#banner_title {
	position: relative;
	bottom: 500px;
	font-size: 160px;
	font-family: 'Dancing Script', 'cursive';
	color: black;
}

#banner_text {
	color: black;
	position: relative;
	bottom: 680px;
	font-size: 72px;
	font-family: 'Dancing Script', 'cursive';
}

/* Navigation Pane */

/* Add some link pseudoclasses here */
/* This should be fixed at top after scrolling but I need Javascript for that */

nav {
	padding: 5px 0 5px 0;
	border-bottom: 1px black solid;
}

nav ul {
	list-style-type: none;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
}

nav li {
	display: inline;
}

nav .bar {
	background-color: white;
	padding: 10px 50px 10px 50px;
	border: 1px solid black;
	text-decoration: underline;
}

nav a:hover {
	color: green;
}

/* Left Sidebar */

#leftbar {
	position: relative;
	width: 230px;
	float: left;
	padding-right: 10px;
	border-right: 1px solid black;
}

.lefttext {
	text-align: center;
	text-decoration: underline;
	font-size: 24px;
}

/* Right Sidebar */
/* This should be fixed at the left after scrolling but I need Javascript for that */

#rightbar {
	position: relative;
	width: 230px;
	float: right;
	padding-left: 10px;
	border-left: 1px solid black;
}

#rightbar h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#rightbar .rightpic {
	height: 200px;
	width: 200px;
	padding: 10px;
	padding-bottom: 15px;
	border-bottom: 1px dashed black;
	border-top: 1px dashed black;
	/*float: left;*/
}

#rightbar .righttext {
	padding: 0px 20px 0px 20px;
}

#rightbar .rightlist {
	margin-top: 20px;
	padding: 0px 20px 0px 20px;
	list-style-type: none;
	height: 300px;
}

#rightbar li .icon {
	height: 50px;
	width: 50px;
	margin: 10px 0 10px 0;
}

/* Body */

#body {
	font-size: 12px;
	font-family: arial;
	background-color: #D4FFE9;
}

/* Content */

.content {
	margin: 10px 260px 0px 260px;
}

/* Blog Posts */

.blogpost h2 {
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}

.blogpost h3 {
	font-size: 18px;
	margin-top: -10px;
}

.blogpost h4 {
	font-size: 16px;
	font-weight: bold;
}

.blogpost p {
	font-weight: italic;
}

.blogpost .blogimage {
	height: 300px;
	width: 500px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	}

.blogpost .caption {
	text-align: center;
	font-family: serif;
	font-size: 12px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.code {
	font-family: serif;
	background-color: #C0C0C0;
	font-size: 14px;
}

.comment {
	color: gray;
}



/* Footer */

/*Note: I'm not sure how to position this except for putting it absolutely positioned on the site since it doesn't have a parent*/

#footer {
	clear: both;
	position: relative;
	height: 50px;
	border: 1px solid black;
	margin-top: 100px;

}
